.App {
    text-align: center;
}

.app__form {
    border-radius: 10px;
    padding: 20px;
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: rgb(230, 224, 224);
    width: 100%;
    margin: 20px;
}

.app_formControl {
    display: flex !important;
    flex-direction: row !important;
}

.app__input {
    flex: 1 !important;
}

.app__iconButton {
    flex: 0 !important;
    margin-right: 30px !important;
}