.message_card {
    padding: 2px;
    margin: 6px;
    width: fit-content;
}

.message_user {
    margin-left: auto;
    color: white;
    text-align: left !important;
}

.message_userCard {
    background-color: rgb(90, 214, 79) !important;
}

.message_guestCard {
    background-color: rgb(236, 232, 232) !important;
}

img {
    padding: 5px;
    width: 100px;
}